
{% extends 'user-choice.html' %}
{% block form_content %}
    <div style="display: inline-block">  <!-- keep justification (centering, probably), but allow content to have its own justification -->
    <ul style="text-align: left; list-style-type:none">  <!-- justify left, no bullets-->
    {% for idx, choice, choiceid, was_chosen in choices %}
        <input type="radio" name="choice" value="{{choiceid}}"{{' checked' if was_chosen else ''}}/> {{choice}} <br/>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
