
{% extends 'base.html' %}

{% block content %}
{{preference_choice_text}}
<br/>
<br/>

<form name='choiceform' id='choiceform' method=POST>

    {% if choicetype == 'multiple' %}
            <div style="display: inline-block">  <!-- keep justification (centering, probably), but allow content to have its own justification -->
            <ul style="text-align: left; list-style-type:none">  <!-- justify left, no bullets-->
            {% for choice, choiceid, was_chosen in choices %}
                <li><input type="checkbox" name="choice" value="{{choiceid}}" {{check_state}}{{' checked' if was_chosen else ''}}/> {{choice}} </li>
            {% endfor %}
            </ul>
            </div>

    {% elif choicetype == 'single' %}
            <div style="display: inline-block">  <!-- keep justification (centering, probably), but allow content to have its own justification -->
            <ul style="text-align: left; list-style-type:none">  <!-- justify left, no bullets-->
            {% for choice, choiceid in choices %}
                <input type="radio" name="choice" value="{{choiceid}}"{{' checked' if was_chosen else ''}}/> {{choice}} <br/>
            {% endfor %}
            </ul>
            </div>

    {% else %}
        Unsupported feature asked. Sorry. Ask the admin. That shouldn't happen.
    {% endif %}

    <br/>
    <input type="submit" value="Set my preferences" />
    <br/>

</form>
{% endblock %}
